table {
	border-collapse: separate;
	border-spacing: 10px;
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 10px 15px;
}
th {
	background-color: blue;
	color: white;
	font-weight: bold;
}

